<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<title>리뷰 등록</title>
</head>

<body>
	<h1>리뷰 등록</h1>
	<form name="ReviewForm" method="post">
		<p>후기 : <input type="text" name="desc" />	
		평가 (S,A,B,C,D)  : <input type="text" name="grade" />
		<input type="submit" value="작성"/></p>		
	</form>
</body>
</html>